{% extends "recipe/base.html" %}

{% block content %}
    <h3>Step 2 - Add title and description for your recipe:</h3>
    <form method="POST">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <p>Return to <a href="{% url 'home' %}">HOMEPAGE</a> for step 3</p>
    <hr>
    <div>
        <h3>This is the list of submitted recipe:</h3>
        {% for recipe in recipe_list %}
            <li>
                {{ recipe.title }}
            </li>
            <br>
        {% endfor %}
    </div>



{% endblock content %}