<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
  </head>

  <body>
    <nav>
      <a href="{% url 'recipe:home' %}">QUOOK</a>
      <div>
        <ul>
          {% if user.is_authenticated %}
          <li><span>Hello, {{user.username}}.</span></li>
          <li><a href="{% url 'users:logout' %}">Log Out</a></li>
          <li><a href="{% url 'users:profile' %}">My Profile</a></li>
          {% else %}
          <li><a href="{% url 'users:register' %}">Register Here</a></li>
          <li><a href="{% url 'users:login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
