{% extends "recipe/base.html" %}

{% block content %}
    <h1>Welcome to the QUOOK APP!</h1>
    <hr>
    <h3>About:</h3>
    <p>This is a recipe blog app where you can build and share your recipe!
        <br>The recipe is orientated around it's ingredients.
        <br>This makes categorising and searching for recipes, intuitive and quick!</p>
    <hr>
    <div class ="row fill-viewport align-items-center">
        {% for recipe in recipes %}
            <div class="col-6 col-md-3 text-center">
                <div class="media-content">
                    <img class="rounded border border-5 border-light img-fluid recipe-img my-2" src="{{ recipe.image.url }}">
                    <a class="link-unstyled article-title" href="{{ recipe.get_absolute_url }}"><h6>{{ recipe.title }}</h6></a>
                    <a class="link-unstyled article-title" href="{% url 'recipe:user_recipes' recipe.author %}"><small class="font-italic">by - {{ recipe.author }}</small></a>
                    <small class="text-muted">{{ recipe.date_posted|date:"d F, Y" }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}