{% extends "recipe/base.html" %}

{% block content %}
<div class="container my-5">
    <h1>Welcome to the QUOOK APP!</h1>
    <hr>
    <h3>About:</h3>
    <p>This is a recipe blog app where you can build and share your recipe!
        <br>The recipe is orientated around it's ingredients.
        <br>This makes categorising and searching for recipes, intuitive and quick!</p>
    <hr>
    <div class ="row fill-50-viewport align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <div class="row mx-5">
                {% for recipe in recipes %}
                    <div class="col-3 my-3 text-center">
                        <div class="media-content">
                            <img class="rounded border border-5 border-light img-fluid recipe-img my-2" src="{{ recipe.image.url }}">
                            <a class="link-unstyled article-title" href="{{ recipe.get_absolute_url }}"><h6>{{ recipe.title }}</h6></a>
                            <a class="link-unstyled article-title" href="{% url 'recipe:user_recipes' recipe.author %}"><small class="font-italic">by - {{ recipe.author }}</small></a>
                            <small class="text-muted">{{ recipe.date_posted|date:"d F, Y" }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}