{% extends "recipe/base.html" %}

{% block content %}

<h1>DELETING - {{ recipe.title|title }}</h1>
<hr>
<article class="media content-section">
    <div class="col-3">
        <div class="media-content">
            <img class="rounded-circle border border-5 border-light img-fluid recipe-img my-2" src="{{ recipe.image.url }}">
            <div class="text-center">
                <p class="mt-3">by - {{ recipe.author }}</p>
                <small class="text-muted mt-1">{{ recipe.date_posted|date:"d F, Y" }}</small>
            </div>
        </div>
    </div>
    <div class="media-body mx-5 col-9">
        <div class="article-metadata">
            <form method="POST">
                {% csrf_token %}
                <p class="lead mt-5">You are about to <underline>irreversibly</underline> delete this recipe. Are you sure you want to continue?</p>
                <br>
                <div class="text-right">
                    <a class="btn btn-info btn-sm my-1 mx-2" href="{% url 'recipe:recipe_detail' slug=recipe.slug %}">Return</a>
                    <button type="submit" class="btn btn-danger btn-sm my-1 mx-2">Delete</button>
                </div>
            </form>
        </div>
    </div>
</article>

{% endblock content %}