{% extends "recipe/base.html" %}


{% block content %}

    <h1>{{ recipe.title|title }}</h1>
    <hr>
    <article class="media content-section">
        <div class="col-3">
            <div class="media-content">
                <img class="rounded-circle border border-5 border-light img-fluid recipe-img my-2" src="{{ recipe.image.url }}">
                <div class="text-center">
                    <a class="link-unstyled font-italic" href="{% url 'recipe:user_recipes' recipe.author.username %}">by - {{ recipe.author }}</a>
                    <br>
                    <small class="text-muted">{{ recipe.date_posted|date:"d F, Y" }}</small>
                </div>
            </div>
            <div class="media-content">
                {% if recipe.author == user %}
                    <div class="text-center d-flex flex-column mt-5">
                        <a class="btn btn-info btn-sm my-1 mx-1" href="{% url 'recipe:recipe_edit' slug=recipe.slug %}">Edit Recipe</a>
                        <a class="btn btn-info btn-sm my-1 mx-1" href="{% url 'recipe:ingredient_edit' slug=recipe.slug %}">Add Ingredient</a>
                        <a class="btn btn-danger btn-sm my-1 mx-1" href="{% url 'recipe:recipe_delete' slug=recipe.slug %}">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="media-body mx-5 col-9">
            <div class="article-metadata">
                <h5>Description:</h5>
                <pre class="article-content p-3">{{ recipe.description }}</pre>
            </div>
            <h5> Ingredients:</h5>
            {% for ingredient_detail in related_ingredients %}
            <p class="article-content">{{ ingredient_detail.ingredient }} | <small>{{ ingredient_detail.amount }}</small></p>
            {% endfor %}
        </div>
    </article>

{% endblock content %}