{% extends "recipe/base.html" %}

{% block content %}
    <h1>Recipes of {{ view.kwargs.username }}</h1>
    <hr>
    <div class ="row fill-viewport align-items-center">
        {% for recipe in recipes %}
            <div class="col-6 col-md-3 text-center">
                <a href="#">
                    <img class="rounded border border-5 border-light img-fluid recipe-img my-2" src="{{ recipe.image.url }}">
                    <a class="link-unstyled article-title" href="#"><h6>{{ recipe.title }}</h6></a>
                    <a class="link-unstyled article-title" href="#"></a><small class="font-italic">by - {{ recipe.author }}</small></a>
                    <small class="text-muted">{{ recipe.date_posted|date:"d F, Y" }}</small>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}